*/.gradle
*/.idea
*/build
*/node_modules
yaasswift/yaas/.idea
yaasserver/target
yaasserver/src/main/javascript/node_modules
yaasjs/node_modules
yaas/buildSrc
yaascs/Org.Roylance.Yaas.Api/bin
yaascs/Org.Roylance.Yaas.Api/obj

build
Carthage
Cartfile.resolved