*/.gradle
*/.idea
*/build
*/node_modules
api/javascript/node_modules
swift/yaas/.idea
sapi/target
sapi/src/main/javascript/node_modules
javascript/node_modules

csharp/Org.Roylance.Yaas.Api/bin
csharp/Org.Roylance.Yaas.Api/obj

build
Carthage
Cartfile.resolved